div.navbar{
}

div.navbar ol{
	grid-template-columns: repeat(5,1fr);
	gap: 0.24em;
	display: grid;
    padding: 0px;
    border-bottom: solid 0.5ex;
}

div.navbar li{
    display: inline-block;
}

div.navbar li a{
    display: block;
    background-color: lightgrey;
    padding: 1.5ex 1em 1ex 1em;
    text-decoration: none;
    color: black;
    border-top: solid 1ex white;
}
div.navbar li a:hover, div.navbar li a:focus{
    background: grey;
    border-top-color: black;
}
div.navbar li a.selected{
    border-top-color: darkgrey;
}

form{
	grid-template-columns: 15em 1fr;
	gap: 0.24em;
	display: grid;
    width: 60em;
}
form label{
    grid-column: 1;
}
form input, select{
    grid-column: 2;
}

form input[type=password], form input[type=text]{
    border-radius: 0.5ex;
    border: solid black 1px;
    padding: 1ex 1em;
}

ul.obj_list {
    max-width: 60em;
}
ul.obj_list li{
    overflow: auto;
    margin: 0.25ex;
}
ul.obj_list li div.buttons{
    float: inline-end;
}
ul.obj_list li:nth-child(odd){
    background-color: whitesmoke;
}
.button{
    display: inline-block;
    background-color: lightgrey;
    padding: 1ex 1em;
    text-decoration: none;
    color: black;
    border: solid 1px black;
    border-radius: 0.5ex;
	margin: 0.25ex 0ex;
}
.button:hover, button:focus{
    background-color: grey;
}
